.content-image {
  width: 70%;
  height: 30rem;
  object-fit: cover;
  display: block;
}

.post_section {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#post_margin {
  
}