{% extends 'core_project/base.html' %}
{% load static %}

{% block custom_css %}
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'core_project/css/style.css' %}">

{% endblock custom_css %}


{% block content %}
  <input type="checkbox" id="check">

  <!-- header area start -->
  
  <header>
    <label for="check">
      <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left">
      <h3>Family <span>Wall</span></h3>
    </div>
    <div class="mid">
      
    </div>
    <div class="right">
      {% comment %} <p color="red">{{form.as_p}}</p> {% endcomment %}
      <a href="{% url 'logout' %}" class="logout">Logout</a>
    </div>
  </header>

  <div class="sidebar" style="margin-top:60px">
    <center>
      <img src="https://images.pexels.com/photos/1704488/pexels-photo-1704488.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="profile image" class="profile">
      <h4>{{request.user}}</h4>
    </center>
    <a href="{% url 'post' %}"><i class="fas fa-home"></i><span>Home</span></a>
    <a href="{% url 'calendar' %}"><i class="fas fa-calendar-day"></i><span>Calendar</span></a>
    <a href="{% url 'todo_list' %}"><i class="far fa-list-alt"></i><span>Lists</span></a>
    <a href="{% url 'index' %}"><i class="far fa-address-book"></i><span>Contact Book</span></a>

    <a href="#"><i class="fas fa-utensils"></i><span>Meal Planner</span></a>
    <a href="{% url 'add_location' %}"><i class="fas fa-map-marker-alt"></i><span>Map</span></a>
    <a href="#"><i class="far fa-comment-alt"></i><span>Messages</span></a>
    
    <a href="#"><i class="fa fa-sliders-h" aria-hidden="true"></i><span>Settings</span></a>
  </div>
{% endblock content %}